<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <!-- Action -->
    <record id="action_res_partner_upflow_position" model="ir.actions.act_window">
        <field name="name">Position</field>
        <field name="res_model">res.partner.upflow.position</field>
        <field name="view_mode">tree,form</field>
    </record>


    <menuitem
        id="base_upflow_menu_config"
        parent="contacts.res_partner_menu_config"
        name="Upflow"
        sequence="10"
    />

    <menuitem
        id="base_upflow_menu_position"
        parent="base_upflow_menu_config"
        name="Position"
        sequence="1"
        action="base_upflow.action_res_partner_upflow_position"
    />
</odoo>
